h1 {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    color: #ff4d6d;
    margin-top: 50px;
    font-size: 50px;
}

body {
    background-color: #f0f8ff;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    padding: 20px;
    color: #333;
    font-size: 30px;
}

button {
    background-color: #ff4d6d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
}

button:hover {
    background-color: #c9184a;
}

input[type="date"] {
    padding: 10px;
    font-size: 20px;
    border: 2px solid #ff4d6d;
    border-radius: 5px;
    font-family: "Quicksand", sans-serif;
    background-color: #fff0f5;
    color: #333;
}

input[type="date"]:focus {
  outline: none;
  border-color: #ff1493;
  box-shadow: 0 0 5px #ff69b4;
}